body{
    background-image: url("../img/logo.jpg");

}
#table{
    background-color: white;
    filter:alpha(opacity=80); /*IE,透明度50%*/
    border-radius: 10px;
    -moz-opacity:0.8; /*Firefox,透明度50%*/
    opacity:0.8;/*其他浏览器,透明度50%*/
}

#title{
    margin:0 auto;
}