body{
    background-image: url("../img/timg.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;

}

#yanzhengma{
    margin-top:10px;
    margin-left:10px;
}
#login-window{
    padding: 10px;
    background-image: url("../img/timg.jpg");
    width: 250px;
    height: 180px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    filter:alpha(opacity=90); /*IE,透明度50%*/
    border-radius: 10px;
    -moz-opacity:0.9; /*Firefox,透明度50%*/

    opacity:0.9;/*其他浏览器,透明度50%*/
    background-color: beige;
}



#form input{
    margin-top: 10px;
}
#login-window h2{
    height: 30px;
    width: 250px;
    margin: 0px;
}